
services:
  sonarqube:
    image: sonarqube:lts-community
    container_name: sonarqube
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_logs:/opt/sonarqube/logs
    networks:
      - propro_mynetwork
    deploy:
      resources:
        limits:
          memory: 1.5g
          cpus: '2.0'

volumes:
  sonarqube_data:
  sonarqube_logs:

networks:
  propro_mynetwork:
    external: true








