services:
  trivy-fruit:
    image: aquasec/trivy:0.64.1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./reports:/reports
    command: image --format template --template "@contrib/html.tpl" -o /reports/trivy-fruit-report.html amirabidii/fruit_back_amir:v2.0.0

  trivy-legume:
    image: aquasec/trivy:0.64.1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./reports:/reports
    command: image --format template --template "@contrib/html.tpl" -o /reports/trivy-legume-report.html amirabidii/legume_back_amir:v2.0.0

  trivy-frontend:
    image: aquasec/trivy:0.64.1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./reports:/reports
    command: image --format template --template "@contrib/html.tpl" -o /reports/trivy-frontend-report.html amirabidii/myfront_service:1.0.1
