global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: 'fruit-service-back'
    static_configs:
      - targets: ['fruit-service-back:8081']
  - job_name: 'legume-service-back'
    static_configs:
      - targets: ['legume-service-back:8080'] 